{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock title %}</title>

        <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap-grid.css.map' %}">

        {% block cssFiles %}
        {% endblock cssFiles %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.bundle.js' %}"></script>
    </head>

    <body data-barba="wrapper">
        <div class="load-container">
            <div class="loading-screen"></div> <!-- This is the div that covers the whole page when we press the button to go to another page. -->
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{% url 'app_welcome' %}">PennyTravel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-center">
                    {% if user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link nav-custom" href="#">Hello, {{ user.username }}</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link nav-custom" href="{% url 'user_logout' %}">Logout<span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link nav-custom" href="{% url 'user_signup' %}">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-custom" href="{% url 'user_login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock content%}
    </body>

    {% block scripts %}
    {% endblock scripts %}
</html>